---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
background: #E8EDAB;
}

header {
background: #FFA500;
}

footer{
background: #FFA500;
}

.m_topic {
	margin: 5px;
	border: solid #21B313;
	border-radius: 8px;
/*	padding: px;*/
}
/*Список тегов в право клеется*/
ul.m_list_teg {
margin-left: 5px;
margin-right: 5px;
}

ul.post-list {
margin-left: 10px;
margin-right: 10px;
}
/*Значек скрывается*/
.svg-icon {
padding-right: 0px;
}
