---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
background: #E8EDAB;
}

header {
background: #FFA500;
}

footer{
background: #FFA500;
}

.m_topic {
	margin: 5px;
	border: solid #21B313;
/*	padding: 5px;*/
}
