<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="row">
        <div class="col-sm-3">
		  <div class="m_topic">
			{%- include topics.html -%}
		  </div>
        </div>

        <div class="col-sm-8">
<!--
		  <div class="wrapper">
-->
			{{ content }}
<!--
		  </div>
-->
        </div>
        <div class="col-sm-1"></div>

	  </div>

    </main>

    {%- include footer.html -%}

  </body>

</html>
